@font-face {
  font-family: 'Days';
  src: local('Days'), local('Days'), url('fonts/Days.ttf') format('truetype');
  /* font-weight: 400; */
  /* font-style: normal; */
}

body {
  font-family: 'Days';
  /* font-size: 1.0rem; */
  height: 100%;
}

.viewbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}